<div class="landing">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>"We're not all good, and we're not all bad. We're very human. And we love each other."</h1>
    <h3>&#8212; Nana</h3>
  </div>
</div>

<div class="row">
  <% if @stories.any? %>
    <% @stories.each do |story|%>
    <div class="row storyline">
      <div class="col-sm-6 date">
        <h3><%= story.date %></h3>
      </div>
      <div class="col-sm-6 images">
        <h3><%= story.title %></h3>

      </div>

    </div>
    <hr>
    <% end %>
  <% end %>
</div>
