<div class="flex top-margin story-color">
  <div class="story-show">
    <% if @nanastories.any? %>
      <% @nanastories.each do |nanastory| %>
      <h1><%= nanastory.title %></h1>
      <% end %>
    <% end %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hKx82Xsdk5U" frameborder="0" allowfullscreen></iframe>
    <h3>Growing Up: Then vs Now</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
      <source src=../audio/MVI_1106_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Growing up: Elgin & Green River</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1107_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>08: Growing up: Elgin & Green River</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1110_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Green River: The Rafting Trip</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1111_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>12: Nana's Mom</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1112_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>13: Nana's Grandfather</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1113_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>14: Nana's Mother</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1114_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>15: Sooners: Great Grandma on the Cimmeron Run</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1115_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>17: Navaho Belief</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1117_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>18: Navaho Funeral</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1118_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Zoom: When Montra Elizabeth was a Baby</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0001_BU_edit_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Piano Sessions: 1</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0003_LR_edit_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Piano Sessions: 2</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0004_LR_01_trim.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Wishes for the Future, Memories from the Past</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0006_BU_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Nana Runs Away</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0007_LR_01.mp3 type=audio/mp3 >
    </audio>
    <hr>

  </div>
</div>
