<div class="flex top-margin story-color">
  <div class="story-show">
    <% if @nanastories.any? %>
      <% @nanastories.each do |nanastory| %>
      <h1><%= nanastory.title %></h1>
      <% end %>
    <% end %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hKx82Xsdk5U" frameborder="0" allowfullscreen></iframe>
    <h3>Growing Up: Then vs Now</h3>
    <p>
      How Things Change
      <br>
      Nana's, the Fishing Toddler
    </p>
    <audio controls>
      <source src=../audio/MVI_1106_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Growing up: Elgin & Green River</h3>
    <p>
      Cousins come to visit : 0:00 - 0:30
      <br>
      When Nana's Parents moved to Kansas : 1:46 - 3:25
      <br>
      Nana the heartbreaker : 3:26 - 4:04
    </p>
    <audio controls>
    	<source src=../audio/MVI_1107_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Green River, White Water</h3>
    <p>
      The White Water Rafting Expedition, and Sleeping by Wild Horses

    </p>
    <audio controls>
    	<source src=../audio/MVI_1110_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Green River, White Water (continued)</h3>
    <p>
      On Making New Friends, and History

    </p>
    <audio controls>
    	<source src=../audio/MVI_1111_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Stories About A Very Great Grandpa</h3>
    <p>
      Letting a Girl Explore
      <br>
      Great-great-grandpa comes from Ireland to NYC
      <br>
      Great-great-grandpa's First Wife
    </p>
    <audio controls>
    	<source src=../audio/MVI_1112_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Nana's Dad</h3>
    <p>
      To Canada!
      <br>
      Vancouver to Kansas
      <br>
      Great Ladies: The Cimeron Run in Oklahoma
    </p>
    <audio controls>
    	<source src=../audio/MVI_1113_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Great Love</h3>
    <p>
      How Nana's Parents Met

    </p>
    <audio controls>
    	<source src=../audio/MVI_1114_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>XX</h3>
    <p>
      XX
    </p>
    <audio controls>
    	<source src=../audio/MVI_1115_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Interesting Neighbors</h3>
    <p>
      Geri Ellen Gives Cultural Insight About Navaho Neighbors
    </p>
    <audio controls>
    	<source src=../audio/MVI_1117_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>A Navaho Funeral</h3>
    <p>
      Life in Utah

    </p>
    <audio controls>
    	<source src=../audio/MVI_1118_audio_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Zoom: When Montra Elizabeth was a Baby</h3>
    <p>
      Nana and Montra Portrait Session : 0:00 - 6:00
      <br>
      Taking the Kids on a Picnic : 6:01 - 7:06
      <br>
      Ms. Slick Chick : 7:07 - 09:30
      <br>
      Montra 2nd/3rd Grade 09:30 - 11:47
      <br>
      Nana's First Home as a Grown Up 11:47 - 16:31
      <br>
      So That's the End (Thoughts on Being a Parent) 16:32 - 18:46
      <br>
      Nana Sometimes Forgets 21:42
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0001_BU_edit_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Piano Sessions: 1</h3>
    <p>
      Music
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0003_LR_edit_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Piano Sessions: 2</h3>
    <p>
      I Saw That She Was Blind
      <br>
      Music and Cake
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0004_LR_01_trim.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Wishes for the Future, Memories from the Past</h3>
    <p>
      Mic Setup : 0:00 - 1:45
      <br>
      Developing Both the Brain & the Heart : 1:46 -
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0006_BU_01.mp3 type=audio/mp3 >
    </audio>
    <hr>
    <h3>Nana Runs Away</h3>
    <p>
      Growing Up Is Hard to Do
    </p>
    <audio controls>
    	<source src=../audio/ZOOM0007_LR_01.mp3 type=audio/mp3 >
    </audio>
    <hr>

  </div>
</div>
