/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .landing {
   padding-top: 300px;
   width: 100%;
   height: 100vh;
   color: white;
   text-align: center;
   text-shadow: 2px 2px 8px #333;
   background: url(../images/stone-arch-828730_1280.jpg) center center no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .images {
   width: 50%;
   img {
     width: 100%;
     max-width: 500px;;
     max-height: 400px;
   }
 }

 .date {
  text-align: right;
  border-right: 3px solid white;
  width: 30%;
 }

 .storyline {
   background: white;
    background: -webkit-linear-gradient(whitesmoke, white); /*Safari 5.1-6*/
    background: -o-linear-gradient(whitesmoke, white); /*Opera 11.1-12*/
    background: -moz-linear-gradient(whitesmoke, white); /*Fx 3.6-15*/
    background: linear-gradient(whitesmoke, white); /*Standard*/
  }

  .row {
    margin: 0;
    padding: 0;
  }
